body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    min-height: 75%;
}
.menu {
    display: none;
}

.button {
  margin-left: 1%;
}
