body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

h3 {
  text-align: center;
}

.recipe {
  color: red;
  width: 80%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}

.bgimg {
    background-position: center;
    background-size: cover;
    min-height: 75%;
}
.menu {
    display: none;
}

.button {
  margin-left: 2%;
}

.display-4{
  margin-top: 60px;
}

.intro{
  margin-left: 16px;
}

.row {
  margin-bottom: 3%;
}

#search-button {
  margin-bottom: 1%;
}

#saveRecipe {
  margin-left: 2px;
}

#favorites {
  text-align: center;
}

#favorites-text {
  margin-bottom: 1%;
}

.footer-copyright {
  padding-top: 5%;
  text-align: center;
}
